
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
.vs/AROKI_AND_WASDA/DesignTimeBuild/.dtbcache.v2
.vs/AROKI_AND_WASDA/v16/.suo
.idea/.idea.aroki_and_wasda/.idea/discord.xml
.idea/.idea.aroki_and_wasda/.idea/encodings.xml
.idea/.idea.aroki_and_wasda/.idea/indexLayout.xml
.idea/.idea.aroki_and_wasda/.idea/projectSettingsUpdater.xml
.idea/.idea.aroki_and_wasda/.idea/vcs.xml
.idea/.idea.aroki_and_wasda/.idea/workspace.xml
aroki_and_wasda.sln.DotSettings.user
